

<header class="header">
    <div class="header_top">
        <div class="container">
            <div class="navbar navbar-default">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" ng-init="menuCollapsed = true"
                            ng-click="menuCollapsed = ! menuCollapsed">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <div class="navbar-brand">
                        <small>
                            <a href="#">
                                Mohammad nurul huda
                            </a>
                        </small>
                    </div>
                </div>
                <div class="collapse navbar-collapse" collapse="menuCollapsed">
                    <ul class="nav navbar-nav pull-right">
                        <li ui-sref-active="active">
                            <a href ui-sref="home">
                                Home
                            </a>
                        </li>
                        <li ui-sref-active="active">
                            <a href ui-sref="about">
                                about
                            </a>
                        </li>
                        <li class="dropdown" ui-sref-active="active">
                            <a href ui-sref="publications" class="dropdown-toggle btn-trans" role="button" data-toggle="dropdown">
                                publications
                            </a>

                            <ul class="dropdown-menu" role="menu">
                                <li role="menuitem">
                                    <a href ui-sref="publications.Books">Books</a>
                                </li>
                                <li role="menuitem">
                                    <a href ui-sref="publications.EnglishBooks">English</a>
                                </li>
                                <li role="menuitem">
                                    <a href ui-sref="publications.BanglaBooks">Bangla</a>
                                </li>
                            </ul>
                        </li>
                        <li ui-sref-active="active">
                            <a href ui-sref="achievement">
                                achievement
                            </a>
                        </li>
                        <li ui-sref-active="active">
                            <a href ui-sref="gallery">
                                gallery
                            </a>
                        </li>
                        <li ui-sref-active="active">
                            <a href ui-sref="contact">
                                Contact
                            </a>
                        </li>
                        <!--<li ui-sref-active="active">-->
                            <!--<a href ui-sref="admin">-->
                                <!--admin-->
                            <!--</a>-->
                        <!--</li>-->
                    </ul>
                </div>
            </div>
        </div>
    </div>
</header>