



<footer>
    <!-- <footer class="footer_content"> -->
    <div class="footer">
        <div class="container">
            <div class="col-sm-4">
                <div class="c_footer">
                    <div class="widget-title">
                        <h4>Contact Address</h4>
                    </div>
                    <figcaption class="address_img">
                        <img ng-src="assets/images/home/img-2.jpg">
                    </figcaption>
                    <span>117, Shantibag, Dhaka-1217, Bangladesh</span><br>
                    <span>Mobile: 01711545171, 01977545173</span><br>
                    <span>Email: poetnurulhuda@gmail.com</span><br>
                    <span>kobinurulhuda49@yahoo.com</span>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="widget-title">
                    <h4>Recent Post</h4>
                </div>
                <ul class="recent_list">
                    <li>
                        <a href="#">Medieval landmarks and architecture of South Bohemia</a>
                    </li>
                    <li>
                        <a href="#">The scenic lake and mountain holiday breaks</a>
                    </li>
                    <li>
                        <a href="#">Gardening ideas and inspiration for outdoor living space</a>
                    </li>
                    <li>
                        <a href="#">Gardening ideas and inspiration for outdoor living space</a>
                    </li>
                    <li>
                        <a href="#">Gardening ideas and inspiration for outdoor living space</a>
                    </li>
                </ul>
            </div>
            <div class="col-sm-4">
                <div class="widget-title">
                    <h4>Get Connected</h4>
                </div>
                <div class="info-text">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi accumsan luctus varius.
                </div>
                <ul class="list">
                    <li class="twitter"><a href="#" target="_blank"><i class="fa fa-twitter"></i></a></li>
                    <li class="fb"><a href="#" target="_blank"><i class="fa fa-facebook"></i></a></li>
                    <li class="gplus"><a href="#" target="_blank"><i class="fa fa-google-plus"></i></a></li>
                </ul>
            </div>
        </div>
</footer>