
<section class="common-style">
	<div class="container">
		<div class="">
			<figure class="about_poetimg">
				<img ng-src="assets/images/home/img-2.jpg"/>
				<figcaption>
					<p>Mohammad Nurul Huda</p>
				</figcaption>
			</figure>
			<article class="about_poet">
				<h2>A Brief History of Mohammad Nurul Huda</h2>

				কবি মুহম্মদ নূরুল হুদার জীবন ও রচনাপঞ্জি:
				১৯৪৯	৩০ সেপ্টেম্বর জন্ম : জন্মস্থান : পোকখালী, কক্সবাজার, বাংলাদেশ। পিতা : হাজী মোহাম্মদ সেকান্দর। মাতা : আঞ্জুমান আরা বেগম।
				১৯৬৫	কক্সবাজারস্থ ঈদগাহ হাই স্কুল থেকে মাধ্যমিক পরীক্ষায় (কলা) কুমিল্লা বোর্ডে প্রথম বিভাগে মেধা তালিকায় দ্বিতীয় স্থান অধিকার।
				১৯৬৭	ঢাকা কলেজ থেকে উচ্চ মাধ্যমিক পরীক্ষায় প্রথম বিভাগে উত্তীর্ণ। ‘কলতান’ সম্পাদনা।
				১৯৭০	ঢাকা বিশ্ববিদ্যালয় থেকে ইংরেজি ভাষা ও সাহিত্য বিষয়ে অনার্স ডিগ্রি লাভ। ‘অধোরেখ’ নামে একটি সংকলন সম্পাদনা।
				১৯৭১-৭২ ঢাকা বিশ্ববিদ্যালয় থেকে ইংরেজি ভাষা ও সাহিত্য বিষয়ে এম.এ. ডিগ্রি লাভ।
				১৯৭২	প্রকাশিত গ্রন্থ : শোণিতে সমুদ্রপাত [কাব্যগ্রন্থ]; হে স্বদেশ [অন্যতম সম্পাদক]; বহুবচন [সম্পাদনা]
				১৯৭৩	বাংলাদেশের সাহিত্য ও সংস্কৃতির জাতীয় প্রতিষ্ঠান বাংলা একাডেমীতে সহকারী পরিচালক পদে যোগদান।
				১৯৭৫	প্রকাশিত গ্রন্থ : আমার সশস্ত্র শব্দবাহিনী [কাব্যগ্রন্থ]; শোভাযাত্রা দ্রাবিড়ার প্রতি [কাব্যগ্রন্থ]
				১৯৭৯	সোভিয়েত ইউনিয়নের আলমা-আতায় অনুষ্ঠিত এশিয়া ও আফ্রিকার তরুণ লেখকদের সম্মেলনে বাংলাদেশ প্রতিনিধি হিসেবে যোগদান।
				১৯৮০	প্রকাশিত গ্রন্থ : অগ্নিময়ী হে মৃন্ময়ী [কাব্যগ্রন্থ]; চড়রবসধ [বফরঃবফ]; বিশ্বাস [সম্পাদনা]
				১৯৮১	বাংলা একাডেমীর উপপরিচালক পদে পদোন্নতি লাভ।
				প্রকাশিত গ্রন্থ : আমরা তামাটে জাতি [কাব্যগ্রন্থ]; শর্তহীন শর্তে [প্রবন্ধ গ্রন্থ]
				১৯৮২	প্রকাশিত গ্রন্থ : লক্ষণ সংহিতা [হোমিওপ্যাথি]; পরিবর্তনের পথে [অনুবাদ]
				১৯৮৩	বাংলা একাডেমী পত্রিকা ও ইধহমষধ অপধফবসু ঔড়ঁৎহধষ-এর নির্বাহী সম্পাদকের দায়িত্ব গ্রহণ।
				পুরস্কার : আলওল সাহিত্য পুরস্কার, যশোর সাহিত্য পরিষদ পুরস্কার; আবুল হাসান কবিতা পুরস্কার।
				প্রকাশিত গ্রন্থ : শুক্লা শকুন্তলা [কাব্যগ্রন্থ] ; মহানবী [কিশোরোপযোগী জীবনীগ্রন্থ]
				১৯৮৪	প্রকাশিত গ্রন্থ : কবি মধুসূদন [সম্পাদনা]; কবিতা ১৩৯০ [সম্পাদনা]
				১৯৮৫	হাওয়াইস্থ ইস্ট-ওয়েস্ট সেন্টারে সংস্কৃতি ও যোগাযোগ বিষয়ক ইন্সটিটিউটে (আই.সি.সি) রিসার্চ ইন্টার্ন হিসেবে যোগদান।
				প্রকাশিত গ্রন্থ : নির্বাচিত কবিতা [কাব্যগন্থ]; যিসাস মুজিব [কাব্যগ্রন্থ]; কবিতা ১৩৯১ [সম্পাদনা]; শহীদ বুদ্ধিজীবী স্মরণে কবিতাগুচ্ছ [সম্পাদনা]; হুমায়ুন কবির রচনাবলী [সম্পাদনা]
				১৯৮৬	সংবর্ধনা : আওয়ামী শিল্পী গোষ্ঠী সংবর্ধনা (চট্টগ্রাম)
				প্রকাশিত গ্রন্থ : ঋষধসরহম ঋষড়বিৎং : চড়বঃ’ং জবংঢ়ড়হংব ঃড় ঃযব ঊসবৎমবহপব ড়ভ ইধহমষধফবংয [প্রবন্ধগ্রন্থ]; আবুল হাসানের অগ্রন্থিত কবিতা [সম্পাদনা]
				১৯৮৭	প্রকাশিত গ্রন্থ : হনলুলু ও অন্যান্য কবিতা [কাব্যগ্রন্থ]; আগামেনন [অনুবাদ]
				১৯৮৮	পুরস্কার : বাংলা সাহিত্যে উল্লেখযোগ্য অবদানের জন্য স্বীকৃতিস্বরূপ বাংলা একাডেমী পুরস্কার।
				প্রকাশিত গ্রন্থ : কুসুমের ফণা [কাব্যগ্রন্থ]; বারো বছরের গল্প [কাব্যগ্রন্থ]; এক জনমে লক্ষ জন্ম [কাব্যগ্রন্থ]; রবীন্দ্র-প্রকৃতি ও অন্যান্য প্রসঙ্গ [প্রবন্ধগ্রন্থ]; বাংলাদেশের নির্বাচিত কবিতা [সম্পাদনা]
				১৯৮৯	পুরস্কার : কক্সবাজার পদক
				প্রকাশিত গ্রন্থ : গালিবের কাছে ক্ষমা প্রার্থনা [কাব্যগ্রন্থ]; হোমিওপ্যাথিক পরিভাষা [সংকলন]
				১৯৯০	প্রকাশিত গ্রন্থ : আমি যদি জলদাস তুমি দলদাসী [কাব্যগ্রন্থ]; হ্যামিলনের রাজা [কিশোরোপযোগী ছড়াগ্রন্থ]; তেলাপোকা [কিশোরোপযোগী ছড়াগ্রন্থ}
				১৯৯১	প্রকাশিত গ্রন্থ : কবিতা : গণআন্দোলন [সম্পাদনা]; সাহিত্য মঞ্জুষা [সম্পাদনা]; ঞধষবং ঃড় ঞবষষ [সম্পাদনা]; ঝঃড়ৎরবং ভড়ৎ ঃযব ণড়ঁহম [সম্পাদনা]
				১৯৯২	বাংলাদেশ প্রতিনিধি দলের সদস্য হিসেবে ভারত সফর।
				প্রকাশিত গ্রন্থ : জাতিসত্তার কবিতা [কাব্যগ্রন্থ]; প্রিয়াংকার জন্য পঙক্তিমালা [কাব্যগ্রন্থ]; ইউনুস এমরের কবিতা [অনুবাদ]
				১৯৯৩	বাংলা একাডেমীর পরিচালক পদে পদোন্নতি লাভ।
				প্রকাশিত গ্রন্থ : ভিনদেশী প্রেমের কবিতা [কাব্যগ্রন্থ]; অরক্ষিত সময় [কাব্যগ্রন্থ]; সার্ত্র ও অন্যান্য [প্রবন্ধগ্রন্থ]; ওহ ইষরংংভঁষ ঐবষষ [অনুবাদ]; বাংলা একাডেমী ইংলিশ-বেঙ্গলী ডিকশনারী [অন্যতম সংকলক]
				১৯৯৪	আমেরিকান ফোকলোর সোসাইটির আমন্ত্রণে যুক্তরাষ্ট্র সফর এবং সোসাইটির বার্ষিক সভায় প্রবন্ধ ও আলোচনা উপস্থাপন।
				পুরস্কার : হুমায়ুন কাদির স্মৃতি পুরস্কার
				প্রকাশিত গ্রন্থ : প্রেমের কবিতা [কাব্যগ্রন্থ]; দিগন্তের খোসা ভেঙে [কাব্যগ্রন্থ]; ভালোবাসার বুকপকেট [কাব্যগ্রন্থ]; বাংলা একাডেমী ছড়ায় বর্ণমালা [ছড়াগ্রন্থ]; খবংনরধহ ঈষড়ঁফং ধহফ ঙঃযবৎ চড়বসং [কাব্যগ্রন্থ]; প্রাণের মিনার শহীদ মিনার [কিশোরোপযোগী কাহিনী কাব্য]; জন্মজাতি [উপন্যাস]; বাস্তুহারা [অনূদিত উপন্যাস]
				১৯৯৫	ইসলামাবাদে অনুষ্ঠিত আন্তর্জাতিক লেখক ও বুদ্ধিজীবী সম্মেলনে বাংলাদেশ প্রতিনিধি দলের সদস্য হিসেবে যোগদান।
				আমেরিকান সোসাইটির আমন্ত্রণে যুক্তরাষ্ট্রে সফর এবং সোসাইটির বার্ষিক সভায় প্রবন্ধ ও আলোচনা উপস্থাপন।
				পুরস্কার : কবি আহসান হাবীব কবিতা পুরস্কার; যুক্তরাষ্ট্রের আই.এস.পি ঘোষিত পয়েট অব ইন্টারন্যাশনাল মেরিক ও পয়েট অব দ্য ইয়ার সম্মানে ভূষিত।
				প্রকাশিত গ্রন্থ : আমার কপালেও সময়ের ভাইফোঁটা [কাব্যগ্রন্থ]; প্রিয় পঙক্তিমালা [কাব্যগ্রন্থ]; মৈনপাহাড় [উপন্যাস]; শতাব্দীর শ্রেষ্ঠ প্রেমের পঙক্তি [সম্পাদনা]
				১৯৯৬	এপ্রিল মাসে গণচীনের বেইজিং নগরীতে অনুষ্ঠিত আন্তর্জাতিক ফোকলোর সম্মেলনে বাংলাদেশের প্রতিনিধি হিসেবে অংশগ্রহণ এবং বাংলাদেশের ফোকলোর সম্পর্কে গবেষণামূলক প্রবন্ধ উপস্থাপন।
				আগস্ট মাসে নজরুল ইন্সটিটিউটে নির্বাহী পরিচালক পদে যোগদান।
				প্রকাশিত গ্রন্থ : মুজিববাড়ি [কাব্যগ্রন্থ]
				১৯৯৭	প্রকাশিত গ্রন্থ : ঘধুৎঁষ : অহ ঊাধষঁধঃরড়হ [সম্পাদনা]; চড়বঃৎু ড়ভ কধুর ঘধুৎঁষ ওংষধস ওহ ঊহমষরংয ঞৎধহংষধঃরড়হ [সম্পাদনা]; নজরুলের উপন্যাস সমগ্র [অন্যতম সম্পাদনা]; নজরুলের কাব্যানুবাদ সংকলন [অন্যতম সম্পাদনা]; নজরুলের নির্বাচিত নাটক [অন্যতম সম্পাদনা]; নজরুলের নির্বাচিত ছোটগল্প [অন্যতম সম্পাদনা]; নজরুলের হারানো গানের খাতা [সম্পাদনা]; নজরুল ও বঙ্গবন্ধু [সম্পাদক]; নজরুলের নির্বাচিত প্রবন্ধ [অন্যতম সম্পাদনা]; আদি রেকর্ড ভিত্তিক নজরুল সঙ্গীতের নির্বাচিত বাণী সংকলন [অন্যতম সম্পাদক]; নজরুল ইন্সটিটিউট পত্রিকা ১৯শ সংকলন [সম্পাদক]।
				সম্মাননা : তুরস্কের মহামান্য রাষ্ট্রপতি সুলেমান ডিমেরিল কর্তৃক বিশেষ সম্মাননা প্রদান।
				১৯৯৮	৪ আগস্ট আই.এস.এফ এন.আর ও নজরুল জন্মশতবর্ষ উপলক্ষে জার্মান সফর।
				আমেরিকান বায়োগ্রাফিক্যাল সোসাইটি কর্তৃক বছরের শ্রেষ্ঠ ব্যক্তিত্ব এবং বর্ষসেরা সম্মান প্রদান।
				জাতীয় পর্যায়ে নজরুল জন্মশতবার্ষিকী উদযাপন উপলক্ষে গঠিত জাতীয় কমিটির সদস্য-সচিব।
				প্রকাশিত গ্রন্থ : সিকোরাক্স [কাব্যগ্রন্থ]; দেখা হলে একা হয়ে যাই [কাব্যগ্রন্থ]; আমার চূড়ান্ত শব্দ ভালোবাসার [কাব্যগ্রন্থ]; নীল সমুদ্রের ঝড় [কাব্যোপন্যাস]; রোমিও জুলিয়েট [কাব্যাপন্যাস]; সৃষ্টিশীলতা ও অন্যান্য [প্রবন্ধগ্রন্থ]; নজরুল ইন্সটিটিউট পত্রিকা ২০শ সংকলন [সম্পদনা]
				১৯৯৯	মৈনপাহাড়, জন্মজাতি ও আমারা তামাটে জাতি-র ভাব অবলম্বনে ‘মৈন কুমারী ও তামাটে কিশোর’ নাটকের মঞ্চায়ন ২১ জুন ১৯৯৯, কেন্দ্রীয় পাবলিক লাইব্রেরী মিলনায়তন, শাহবাগ, ঢাকা।
				প্রকাশিত গ্রন্থ : আদিষ্ট হয়েছি আমি দীর্ঘ জাগরণে [কাব্যগ্রন্থ]; জন্মশতবর্ষে নজরুলকে নিবেদিত কবিতা [সম্পাদনা]; স্মৃতিপুত্র [কাব্যগ্রন্থ]
				২০০০	প্রকাশিত গ্রন্থ : হাজার কবিতা [কাব্যগ্রন্থ]
				সংবর্ধনা : কলকাতাস্থ ‘নজরুল ফাউন্ডেশন’ কর্তৃক সম্মাননা।
				সভাপতি : বাংলাদেশ রাইটার্স ক্লাব।
				২০০১	প্রকাশিত গ্রন্থ : কাব্য সমগ্র [কাব্যগ্রন্থ]; দরিয়ানগর [কাব্যগ্রন্থ]; স্বাধীনতার ছড়া [কাব্যগ্রন্থ]; পখির ছড়া [কাব্যগ্রন্থ]; রূপকথার কাব্য : সাত ভাই চম্পা [কাব্যগ্রন্থ]; রূপকথার কাব্য : রাজার পোশাক [কাব্যগ্রন্থ]; রূপকথার কাব্য : চাঁদের বুড়ো চঁদের বুড়ি [কাব্যগ্রন্থ]; রূপকথার কাব্য : ব্যাঙকুমার [কাব্যগ্রন্থ]; ঘধুৎঁষ অবংঃযবঃরপং ধহফ ঙঃযবৎ অংঢ়বপঃং [প্রবন্ধগ্রন্থ]; নান্দনিক নজরুল [প্রবন্ধগ্রন্থ]; ডবফফরহম ধহফ ডরষফ করঃব [অনুবাদগ্রন্থ]; ঐধংড়হ জধলধ (ঝঁনঃরঃষব ঋরষস) [অনুবাদগ্রন্থ]; নজরুলের মক্তব সাহিত্য [সম্পাদনা]; নজরুলের লাঙ্গল [সম্পাদনা]; ছোটদের নজরুল জীবনী [শিশু-কিশোর জীবনী]; ছোটদের রবীন্দ্র জীবনী [শিশু-কিশোর জীবনী]; ছোটদের বেগম রোকেয়া [শিশু-কিশোর জীবনী]; ছোটদের জীবনান্দ দাশ [শিশু-কিশোর জীবনী]; ছোটদের মাইকেল মধুসূদন দত্ত [শিশু-কিশোর জীবনী];
				পুরস্কার : কক্সবাজার প্রেসক্লাবের রজত-জয়ন্তী উৎসব উপলক্ষে প্রদত্ত গুণীজন সংবর্ধনা; জীবনানন্দ পুরস্কার; কক্সবাজার সাহিত্য একাডেমী পুরস্কার।
				২০০২	বাংলা একাডেমীতে পরিচালক পদে যোগদান।
				সদস্য সচিব, অমর একুশে গ্রন্থমেলা ২০০২
				২০০৩	প্রকাশিত : ঝবষবপঃবফ চড়বসং [কাব্যগ্রন্থ]
				সুইডেনের ভিসবিতে আইএসএফএনআর-এর সম্মেলনে ‘‘ওংষধহফ ঘধৎৎধঃরাবং রহ ইধহমষধফবংয’’ বিষয়ে গবেষণামূলক প্রবন্ধ উপস্থাপন।
				২০০৪	প্রকাশিত গ্রন্থ : পদ্মাপারের ঢেউসোয়ার [কাব্য]
				দক্ষিণ কোরিয়াতে মেধাস্বতৃ বিষয়ক সেমিনারে বাংলাদেশ সরকারের প্রতিনিধি হিসেবে যোগদান।
				২০০৫	প্রকাশিত গ্রন্থ : সুরসমুদ্র [কবিতা]; মনপবনের নাও [ভ্রমণ]; পুণ্যবাংলা [কবিতা]; কুরআন কাব্য [আমপারা]
				ইউনেস্কোর সদর দপ্তর প্যারিসে বাংলাদেশ সরকারের বিশেষজ্ঞ হিসেবে যোগদান (ওহঃবৎমড়াবৎহসবহঃধষ গববঃরহম ভড়ৎ ঃযব ঈঁষঃঁৎধষ উরাবৎংরঃু ঈড়হাবহঃরড়হ)
				২০০৬	প্রকাশিত গ্রন্থ : সময় মাড়ানোর গল্প [কবিতা]; গবঃযড়ফড়ষড়মু : ঠধষঁধঃরড়হ ড়ভ ওফবহঃরভরবফ ঞৎধফরঃরড়হধষ ঈঁষঃঁৎধষ ঊীঢ়ৎবংংরড়হং ড়ভ ইধহমষধফবংয [প্রবন্ধ]
				সুইজারল্যান্ডের জেনেভায় ডওচঙ সদর দপ্তরে ‘‘ওহফবহঃরভরপধঃরড়হ, ঠধষঁধঃরড়হ ধহফ ওহঃবষষবপঃঁধষ চৎড়ঢ়বৎঃু চৎড়ঃবপঃরড়হ ড়ভ ঞৎধফরঃরড়হধষ ঈঁষঃঁৎধষ ঊীঢ়ৎবংংরড়হং’’ বিষয়ে প্রবন্ধ উপস্থাপন।
				ডওচঙ-র পরামর্শক হিসেবে বাংলাদেশের লোকসংস্কৃতির মেধাস্বত্ব সংরক্ষণের জন্য জরীপ ও আইন প্রণয়ন।
				২০০৭	প্রকাশিত গ্রন্থ : আমি একটি খাস প্রজাপত্র চাই [কবিতা]
				জেনেভায় ডওচঙ সদর দপ্তরে স্বল্পোন্নত দেশেসমূহের সাংস্কৃতিক পণ্য সুরক্ষা ও সম্পদবৃদ্ধির জন্য নির্ধারিত প্যানেল আলোচনায় বিশেষজ্ঞ হিসেবে প্রবন্ধ উপস্থাপন।
				জাপানের অঈঈট ও বাংলাদেশ কপিরাইট অফিসের উদ্যোগে ঢাকা অনুষ্ঠিত সম্মেলনে বিশেষজ্ঞ হিসেবে প্রবন্ধ উপস্থাপন।
				২০০৮	প্রকাশিত গ্রন্থ : বাবার পথ [ছড়া]; প্যারিসের দিনরাত্রি [ভ্রমণ]; সুনীতির জন্য কবিতা [কবিতা]; বাংলাদেশের লোকসঙ্গীত [সম্পাদনা];
				এশিয়াটিক সোসাইটি কর্তৃক আয়োজিত ‘লোকসঙ্গীত সম্মেলন ২০০৮’-এর প্রধান সমন্বয়কারী ও সম্পাদক।
				বাংলাদেশ কপিরাইট বোর্ডের সদস্য নিযুক্ত।
				এশিয়ান কপিরাইট হ্যাণ্ডবুকের বাংলাভাষ্যের সম্পাদক।
				দারুল ইহসান বিশ্ববিদ্যালয়ে ইংরেজি ভাষা ও সাহিত্যের প্রফেসর ও বিভাগীয় প্রধান হিসেবে যোগদান।
				শ্রীলঙ্কার রাজধানী কলম্বো শহরে লোক মেধাস্বত্ব বিষয়ক সেমিনার যোগদান।
				২০০৯ প্রকাশিত গ্রন্থ : আমার সাহস নেই টোকা মেরে সুন্দরকে উড়িয়ে দেবার [কাব্য];
				ষাট বছরের কবিতা [কাব্য]।
				দারুল ইহসান বিশ্ববিদ্যালয়ে ডীন অব হিউম্যান সায়েন্সেস পদে যোগদান।

				২০১০ : প্রকাশিত গ্রন্থ : ঝাউদরিয়ার ডানা (কাব্য);
				পুরস্কার : রূপসী বাংলা পুরস্কার (কলকাতা); উতল হাওয়া পুরস্কার (কলকাতা)
				‘‘ওহফবহঃরভরপধঃরড়হ, ঠধষঁধঃরড়হ ধহফ ওহঃবষষবপঃঁধষ চৎড়ঢ়বৎঃয চৎড়ঃবপঃরড়হ ড়ভ ঞৎধফরঃরড়হধষ ঈঁষঃঁৎধষ ঊীঢ়ৎবংংরড়হ’’ শীর্ষক গ্রন্থ প্রকাশ (প্রকাশক : ওয়াইপো, জেনেভা)
				২০১১: প্রকাশিত গ্রন্থ : নুনদরিয়ার ঘ্রাণ (কাব্য); কিশোর সমগ্র (শিশু-কিশোর রচনা সমগ্র); পুরস্কার : কবিতালাপ পুরস্কার (ঢাকা); কারুভাষ বিনয় মজুমদার সম্মাননা (কলকাতা) । নেপালের রাজধানী কাঠম্-ুু শহরে লোক মেধাস্বত্ব বিষয়ক আন্তর্জাতিক বিষেষজ্ঞ হিসেবে সেমিনার যোগদান।
				২০১২ : কলকাতায় জানুয়ারি মাসে বিশ্বকবিতা সম্মেলনে যোগদান (৮-১২।
				২১ শে ফেব্রুয়ারি ত্রিপুরা সরকার আয়োজিত ভাষা-সম্মান অনুষ্ঠানে পুরস্কৃত ব্যক্তিতাব বিসেবে যোগদান।
				কম্বোডিয়ার রাজধানী নমপেন শহরে লোকসংস্কৃতির মেধাস্বত্ব সংরক্ষণ বিষয়ক সেমিনারে আন্তর্জাতিক বিশেষজ্ঞ হিসেবে যোগদান (ফেবৃুয়ারি ২৭-মার্চ ১)।
				মার্চে (১৬-১৯) লখনৌতে সার্ক সাহিত্য সম্মেলনে যোগদান।
				পুরস্কার : ‘একুশ-উনিশের ভাষা-গৌরব ২০১২’, ত্রিপুরা সরকার কর্তৃক প্রদত্ত।
				কবিতাগ্রন্থ : জ্বেলে রাখাবো আমার কবরে (অন্যপ্রকাশ),  বেহুলার শাড়ি (পাঠকসমাবেশ)।
				২০১৩ : এপ্রিলে সার্ক রাইটার্স সম্মেলনে (জয়পুর, ভারত) যোদান।
				নভেম্বর মাসে জাপানে কপিরাইট বিষয়ক কর্মশালায় যোগদান।
				ডিসেম্বরে নেপালে কবিতা সম্মেলনে বাংলাদেশের প্রতিনিধি।
				প্রকাশিত গ্রন্থ : যতদূর বাংলাভাষা, ততদূর এই বাংলাদেশ (কবিতা), নির্বাচিত ২০০ কবিতা (কবিতা), ইবযঁষধ’ং ঝধৎর (ঊহমষরংয চড়বসং), গড়ড়হ অষঢ়যধনবঃ ধহফ ঙঃযবৎ চড়বসং (ঊহমষরংয চড়বসং), বাংলাদেশ কপিরাইট আইন (প্রবন্ধ)।
				পুরস্কার : সিটি-আনন্দ অলো পুরস্কার (কবিতা)।
				২০১৪ : জয়পুরে সার্ক সুফি সম্মেলনে যোগদান। জাতীয় পর্যায়ে ৬৫বর্ষ উদযাপন। কবিতাগ্রন্থ : তিনভবনের অন্ধ (কবিতা),  ছায়া লিখি (কবিতা),  গবঃধসড়ফবৎহ ধহফ ঙঃযবৎ ঞবহফবহপরবং (খরঃৎধৎু ঊংংধুং)
				কবির উপর কয়েকটি গবেষণা গ্রন্থ ও প্রকাশনা
				১৯৯৯ সময়মানুষ (সম্পাদনা : ড. বিশ্বজিৎ ঘোষ ও অন্যরা)
				২০০৪ যুগসূত্র (বদরুল হায়দার ও অন্যরা সম্পাদিত)
				২০০৯ জাতিসত্তার কবি (গাউসুর রহমান প্রণীত)
				২০০৯ স্বতন্ত্র (মুহম্মদ নূরুল হুদা সংখ্যা;
				ফরিদ আহমদ দুলাল সম্পাদিত)
				অন্যান্য:
				সভাপতি : বাংলাদেশ রাইটার্স কøাব।
				প্রতিষ্ঠাতা সভাপতি : কবিতাবাংলা (কবিতা সংগঠন)
				সম্পাদক : কবিতাবাংলা (লিটল ম্যাগাজিন)
				প্রতিষ্ঠাতা : দরিয়ানগর কবিতামেলা (কক্সবাজার)
				সভাপতিম-লীর সদস্য : জাতীয় কবিতা পরিষদ
				কনসালট্যান্ট : ওয়াইপো, জেনেভা।
			</article>
		</div>
	</div>
</section>
<section class="common-style xtra_style">
	<div class="container">
		<div class="abtestimonial">
			<carousel interval="myInterval" no-wrap="noWrapSlides">
			    <slide ng-repeat="slide in slides" active="slide.active">
			        <div class="testimonials">
			        	<figure>
							<img ng-src="{{slide.abimg}}"/>
							<figcaption>
								<h4>{{slide.abpdata}}</h4>
								<span>{{slide.abdesignation}}</span>
							</figcaption>
						</figure>
			        	<blockquote><i class="fa fa-quote-left"></i>{{slide.text}}<i class="fa fa-quote-right"></i>
			        	</blockquote>
			        </div>
			    </slide>
		    </carousel>
		</div>
	</div>
</section>