
<!--<div ng-repeat="mjh in publicationsbooks">-->
	<!--<div class="col-sm-3">-->
		<!--<div class="publication_books">-->
			<!--<figcaption class="publication_images">-->
				<!--<img ng-src="{{mjh.bookimg}}"/>-->
			<!--</figcaption>-->
			<!--<article>-->
				<!--<h3>{{mjh.bheading}}</h3>-->
				<!--<p>{{mjh.bdetails}}-->
				<!--</p>-->
			<!--</article>-->
			<!--<div class="mjh_date">-->
				<!--<span class="date">August 5, 2015</span>-->
				<!--<span class="view"><a href="#">View Details</a></span>-->
			<!--</div>-->
		<!--</div>-->
	<!--</div>-->
<!--</div>-->

<header style="text-align: center;padding-bottom: 25px;text-transform: uppercase;">
	<h2>Bangla Books</h2>
</header>


<div ng-repeat="mjh in publicationsbooks">
	<div class="col-sm-6">
		<ul>
			<li class="publication_books">
				<header>
					<h3>শব্দিত পতন</h3>
				</header>
				<article>
			<pre>
অনন্তর অবয়বে শব্দিত পতন, শিরশির প্রজাপতি পাখার আওয়াজ,
মন্দ্রিত ভেরীর ডাক
	ডুবে গেলো
		পুঞ্জ
			পুঞ্জ
				ধুমট মোড়কে,
ভীষণ শব্দের পাঁকে ডুবে যাচ্ছি, আমি যেন ডুবে যাচ্ছি নিঃশ্বাসের ফাঁদে।
নিঃশ্বাসের ফাঁদে ফাঁদে
		ডুবে যাচ্ছি
		ডুবে যাচ্ছি
		ডুবে যাচ্ছি 	আমি Ñ
আলোর পরীরা শোনো, রূপোর টাকার মতো চকচকে নাচের মুদ্রা থেকে
এই মাত্র
	ছিটকে পড়েছি আমি,
		নির্ভার আমাকে নিয়ে
					 কেলি করে
				      শূন্যের 	শূকর,
কসমিক আলো জ্বলে,
			এখানেও,
				অন্ধকার অধোমুখ কুয়োর দেয়ালে।
			</pre>
				</article>
			</li>

			<li class="publication_books">
				<header>
					<h3>উৎসর্</h3>
				</header>
				<article>
			<pre>
আমার শৈশবের সাক্ষী
আমার রৌদ্রের সাক্ষী
তুমি আজ গতায়ু, পিতামহী।

আমার চৌদিকে শুধু
				বেজে ওঠে
					অলৌকিক হর্ন
						গুচ্ছ
						গুচ্ছ
					      স্বরের নগর,

ধূসর অরণ্যে রণে চাঁদের চারণ,
অথবা চাঁদের বুকে মানুষের পা’র
		বাতাসের কানে কানে সবুজ নিশান
				কিংবা
		নিশানের কানে কানে বাতাসের স্বর।

অনন্তর হিমহিম ট্রান্সমিটারেই শোনা যায় চাপা চাপা স্বর,
মাছের পিঠের মতো
			ঝিলকিয়ে ওঠে কার
					বুকের কাঁচুলি;
শব্দের জগৎ থেকে নির্বাসিত,
		দৃশ্যের জগৎ থেকে নির্বাসিত,
এ আমাকে
		কে তুমি নিচ্ছো টেনে
			অস্তিত্বের অনড় অতলে, Ñ
নিঃসীম কুয়োর নীড়ে তুমি কি সম্ভবা কোনো, জলের বিথার?
অনন্তর হমিহমি ট্রান্সমটিারইে শোনা যায় চাপা চাপা স্বর,
মাছরে পঠিরে মতো
			ঝলিকয়িে ওঠে কার
					বুকরে কাঁচুল;ি
শব্দরে জগৎ থকেে নর্বিাসতি,
		দৃশ্যরে জগৎ থকেে নর্বিাসতি,
এ আমাকে
		কে তুমি নচ্ছিো টনেে
			অস্তত্বিরে অনড় অতল,ে Ñ
নঃিসীম কুয়োর নীড়ে তুমি কি সম্ভবা কোনো, জলরে বথিার?
বুঝি তাই স্বকীয় আলোকবৃত্তে জ্বালালেই একান্ত প্রদীপ
ডানকানের মুখের মতো চেতনায় ভাসে সেই মুখ
	তরল নীলের স্টোভে ঝলোমলো গাছপালা
				ছায়াভস্ম হয়।
			</pre>
				</article>
			</li>

			<li class="publication_books">
				<header>
					<h3>লজ্জাবতী চাঁদ </h3>
				</header>
				<article>
			<pre>
জীবনানন্দ দাশকে

	জলের গর্জন থেকে জানা গেলো
রেডিয়াম ঘড়ির মতো যদি কোন হিরন্ময়ী জ্বলে, Ñ
				যদি জ্বলে!
২
শঙ্খমালা,
	শঙ্খের মতো সেই হিমশাদা বালা,
হে পৃথিবী,
	একবার পাও তাকে, কোনদিন পাও না কী আর?
আমি তো আবার
জলের রমণ-রণ দেখে দেখে
		জ্বলে যেতে যেতে
			যেতে যেতে যেতে

			যেতে যেতে যেতে
ইচ্ছের আগুন থেকে ফিরে যাচ্ছি সেই তীর্থধামে।

৩
আমাকে দেখোনা কেউ,
আমাকে দেখেনা কেউ আর;
উদ্বেগের উল্কিআঁকা মুখের রেখায়
গন্তব্যের দৈর্ঘ্য এঁকে
সহযাত্রী সকলেই চুপ;
এবং তুমি আজ
কুয়াশায় ম্লানমুখ হে আমার লজ্জাবতী চাঁদ,
বাঙলার কবির মতো বারংবার যাচ্ছো পালিয়ে Ñ

			</pre>
				</article>
			</li>


			<li class="publication_books">
				<header>
					<h3>বিলি </h3>
				</header>
				<article>
			<pre>
আগুনের গর্ভাশয়ে বেড়ে-ওঠা ধুঁয়ার কুণ্ডলী
যখন লতিয়ে ওঠে সন্ধ্যার শহরের গায়
আশ্চর্যের অভিনয়ে একটি সুবেশ যুবা
বিলি কাটে, বিলি কাটে
নিটোল আঙ্গুলে তার বিলি কাটে
		পরিপাটি চুলের গোছায়।
তখন বিকট শব্দে থেমে যায় বাস
যাত্রীরা নেমে আসে অযাটিত ধাক্কা উজিয়ে
পাদানী পিছলে কেউ
সঙ সাজে, কাদা ছিটে সহযাত্রী সুভদ্রের গায়।

স্যাঁতসেঁতে শহরের বুকে লাল ফল গলে যায় হঠাৎ কখন
বিদ্যুৎ কেন্দ্রে হঠাৎ মেইন সুইচ অফ হয়ে যায় Ñ
হতবাক অভিনেতা বিলি কাটে,
বিশটি আঙ্গুল তার বিলি কাটে
	অন্ধকারে চুলের গোছায়।

এ শহরে আলো আর জ্বলবে না, এবম্বিধ ঘোষণায়
শহরবাসীরা সব জড়ো জালে-পড়া ইলিশের মতো
সুউজ্জ্বল গুটিদার অতিকায় মৎস্যর নায়ক
শারীরিক কারুকার্যে মেতে ওঠে,
নৈশব্দের দেয়ালটাকে চুরমার করে যায়
ঝুমঝুমিঅলা, সূর্য জ্বলে,
দুই চোখে জোড় সূর্য জ্বলে ওঠে তার, আর
চোখের গর্ভাশয়ে বেড়ে-ওঠা আগুনের লতা

চকিতে লতিয়ে ওঠে সন্ধ্যার শহরের গায়;
আশ্চর্যের অভিনয়ে অনিশেষ যুবক তখন
বিলি কাটে, বিলি কাটে
প্রখর নখর দিয়ে বিলি কাটে
		অন্ধকারে চুলের গোছায়।
			</pre>
				</article>
			</li>


			<li class="publication_books">
				<header>
					<h3>সম্ভাব্য প্লাবন</h3>
				</header>
				<article>
			<pre>
থুথু ফেলি, সেকেন্ডে একশোবার থুথু ফেলি আমি।

পাহাড়ি খাঁজের মতো আমার দাঁতের চারপাশে
			হয়তো-বা থুথুর ফোয়ারা আছে
				অনর্গল
					থুথুর ফোয়ারা,

শরীরী রক্তের গন্ধ হয়তো-বা অসহ্য তাদের
			উত্তাপের বর্ণাঢ্য নিলয় ছেড়ে
		তারা তাই
			আসছে বেরিয়ে
				হল্কায়
					হল্কায়।

হল্কায় হল্কায় তারা বেরিয়ে আসছে, আর
		আমার মুখের চারপাশে
			গড়ছে
				কৃত্রিম হ্রদ;

আহা, যদি বসানো যেতো ইলেক্ট্রিক জেনারেটর,
			রকমারি মাছের চাষ
				করা যেতো
					যদি!
পরিবর্তে, এই স্বতোৎসারিত জলসম্পদ
		আমাকে হারতে হয়
			মুহূর্তে

				মুহূর্তে;
অপচয়ের গ্লানিময় স্মৃতি বয়ে আমি দেখছি
				ভোরে, বিছানার পাশে,
					শার্শিতে,
						কাচে
মরা ছারপোকার মতো লেপ্টে আছে থুথু।
দুপুরে রাস্তায় হাঁটতে হাঁটতে দেখছি
			নর্দমায়,
			শহরের শিরায় শিরায়
			ডিআইটি-র সুউচ্চ ঘড়ির আয়নায়
আমার থুথুর দাগ।
যেন থুথুর দমকল কাঁধে এ শহরে
		আমি এক প্রেরিত পুরুষ,
			যেন এ শহরে
			     অলৌকিক লেগেছে আগুন,
যেন আমি অদৃশ্য হাতের কারসাজি,
		সশব্দে করছি ফাঁক
			আমার দুঠোঁট।
অথচ দেখছি, যক্ষ্মার প্রকোপ বাড়ছে যত্রতত্র,
		যেন রক্তের ভিতর
			ঝিমিয়ে আসছে
				লাল আগুন,
	যেন অমাবস্যা নামছে চতুর্দিকে, চাঁদের
		উল্টো পিঠের মতো।
এ সময়ে হে শহর,
		অলৌকিক অগ্নিদগ্ধ হে আমার
			মোহিনী শহর,
আমার থুথুর বন্যায়
	একবার ভেসে যেতে যদি,
		ভেসে যেতে যদি একবার!

			</pre>
				</article>
			</li>


			<li class="publication_books">
				<header>
					<h3>আদ্যন্ত </h3>
				</header>
				<article>
			<pre>

সময়ের সহোদর, এবং যমজ, সেই অতিকায় সুদীর্ঘ পুরুষ

সূর্যের ঘামের মদ ঢেলে নিয়ে দুপুরের রোদের গেলাসে
নিঃশব্দে চুমুক দিয়ে
	কখন নিজেই যেন ঘামে ঢাকা ক্ষুধার শরীর।

উত্তাল ঢেউয়ের মতো ঠোঁট নেড়ে অতঃপর প্রাচীন পুরুষ
নিভাঁজ বুকের থেকে টেনে নেয় প্রকৃতির গ্রন্থন অমোঘ,
‘দিগন্তের পার হতে উঠে এসে কেশবতী নারী অপরূপা
চুলের আঁধারে তার এখনো দেয়নি ঢেকে পৃথিবীর বিনিদ্র আকাশ

অথচ সূর্যও একদিন রমণীর দুইচোখে জ্বলজ্বলে মণিদীপ হবে।’

প্রান্তরের রোদ আজো সোনালি আঁচল হয়ে কাঁপে কি কাঁপে না
সুনীল দুচোখে তার অহরহ মাঝি এক দাঁড় বেয়ে যায়।
			</pre>
				</article>
			</li>
		</ul>
	</div>
	<div class="col-sm-6">
		<ul>
			<li class="publication_books">
				<header>
					<h3>ফসটাস এখন নরকে </h3>
				</header>
				<article>
			<pre>
		ফসটাস এখন নরকে।
পুণ্যলোভী জ্ঞানাত্মারা, আপনারা সকলেই শ্রবণ করুন

দশম গ্রহের আগে এ বার্তাই আবিষ্কৃত হলো
			ফসটাস এখন নরকে।

জ্যোতিষবিদ্যায় জ্ঞান বেড়ে যাচ্ছে হুহু মনীষার
সময় ফলকে দ্রুত লেখা হচ্ছে একাদশ গ্রহের গীতিকা
ভাগ্যলিপির মতো জ্বলছেই তবু এই নক্ষত্রলিপিকা
		ফসটাস এখন নরকে।

জ্ঞানলোভী পাপাত্মারা,
		 তোমাদের থিওলজি প্রসারিত হবে বহুদূর

সঠিক জানবে প্রায় লোকাতীত পৃথিবীর সম্ভাব্য খবর
নিটোল সঠিক বার্তা সে জগতের, তবু জানি, জানবে এটিই
		ফসটাস এখন নরকে।

পুণ্যবর আরস্তুল, আপনার পদাঙ্কিত পথের দুধারে
এখনো জ্বলছে, আহা, লোকোত্তর অলীক নিওন
পথের সীমান্তে তবু গতিরুদ্ধ প্রকাণ্ড পোস্টারে
		ফসটাস এখন নরকে।

খৃস্টের রক্তের চেয়ে দামী যিনি জেনেছেন মায়া,
নিজস্ব আত্মার মূল্য যাঁর কাছে মনে হয় কপর্দকহীন,
জ্ঞানপাপী হে মহিম, আপনিও ললাটের ঠিকানা পড়–ন,
		ফসটাস এখন নরকে।

হেলেনের চেয়ে সত্য, তামার দেয়াল দিয়ে ঘেরা
জার্মানীর স্বর্ণময় শহরের চেয়ে সত্য,
সত্যের অধিক সত্য, পৃথিবীর শেষতম ঘোষণা শুনুন,
		ফসটাস এখন নরকে।

জ্ঞানের বিপুল বিশ্বে স্বৈরতন্ত্র প্রতিষ্ঠালোভীরা
অতএব আপনারা সমস্বরে রোদন করুন, আর
দুইহাতে মুখ ঢেকে উচ্চস্বরে স্মরণ করুন,
‘জ্ঞানবিশ্বের একনায়ক শ্মশ্র“ধর মহিম পুরুষ
		ফসটাস এখন নরকে।’

			</pre>
				</article>
			</li>

			<li class="publication_books">
				<header>
					<h3>দ্বৈতায়ন </h3>
				</header>
				<article>
			<pre>
মঞ্চের সন্ধানে ঘুরে ঘুরে বিলাসী যুবক

কখন নিজেই যেন সুরম্য মঞ্চ হয়ে গেলো।

ঘুঙুরের পায়ে পায়ে
নিজেকে মুদ্রা করে ছিটিয়ে ছিটিয়ে
অতঃপর ঠাঁই নিলো পার্কের বিষণœ শরীরে।
বুকের পকেট থেকে বের করে আনলো সে
আনকোরা আত্মার মোড়ক
তারপর ছুঁড়ে দিলো আকাশের নিথর পুকুরে।

অলৌকিক উল্লাসে চমকিত নগরবাসীরা
ঢেউয়ের ডগায় ডগায় হয়ে গেলো
সাঁতারের নিপুণ সাধক।

২
জন্মান্ধ আত্মিক কেউ গ্রীষ্মের নির্জন রোদপোড়া মাঠে
সদম্ভে দাঁড়ালো এসে ত্রিসত্তার জ্বলন্ত বৈভবে।
‘বিশ্বের বয়সী এই আত্মাটাকে আজীবন করছি লালন
আমিই রক্ষক বটে অলৌকিক জীবন-কৌটার;
বস্তুত মুহূর্তেই এ আত্মাটা ছুঁড়ে দিতে পারি
সূর্যও নেভাতে পারি এক-ফুঁ বাতাসের জলে’
এই বলে প্রবীণ পুরুষ একপায়া বৃক্ষের মতোন
নিজের ছায়ায় নিজে লীন হলো রৌদ্রের প্রখর দুপুরে।
			</pre>
				</article>
			</li>

			<li class="publication_books">
				<header>
					<h3>জান্নাতবাসিনী পিতামহীর প্রতি </h3>
				</header>
				<article>
			<pre>
নিষিদ্ধ প্রতিমা দেখো নিশীথ দেয়ালে,
রিরংসায় কাঁপে ছায়া, গুরু গুরু ডাকে তার উরু;
আর আমি,
	অসহ্য অনিদ্রাজাত এই আমি,
	স্বমেহন-পরিত্যক্ত এই আমি,
সুপ্রাচীন আবদারে তোমাকেই ডেকে যাচ্ছি শুধু
	তোমাকেই ডেকে যাচ্ছি আজো তূর্যস্বরে;
এখনো কী জায়নামাজে তসবিহর দীপ জ্বেলে জ্বেলে
অধীর রয়েছো জেগে
	কখন ডাকবো আমি বরষার নদীপার থেকে?
দেখো এই নিশীথ শহরে
	উত্থান পতন নেই, স্বর নেই, দর নেই
	শুধু ফুটপাতে কিম্বা আলোøাত রাস্তার মোড়ে
	আলখাল্লা পরিহিত দীঘল পুরুষ

আল্লার নবীর মতো বিড়বিড় গুণছেন নক্ষত্রপতন Ñ
	যেন এ মুহূর্তে ভয়াবহ গজবের হাত
	চরাচর ডুবিয়ে আঁধারে
	আয়নায় সেঁটে দেবে নগ্নকান্ত চেহারা আমার;
	হিরোসিমা ক্ষতের ছোঁয়ায়
উষর দু’চোখ যেন পলে পলে বর্ণ হারায় Ñ
             আমি তবে পল্লবের কোন সবুজিমা
           সøেহ দু’চোখে মেখে সারাবো অসুখ?
কোন্ সরোবরে
	তোমার øেহের হাত, বর্ষিয়সী রগ-ওঠা হাত
	ফুটে আছে পদ্মাসীন কুমারীর মতো
	আজো তার হদিস জানি না।
মনে পড়ে, মৃত্যুনিভ আলোজ্বলা ঝোড়ো এক রাতে
	অনন্তের দরোজায় অসহায় কপাটের মতো
	শয্যায় কাঁপছো তুমি,
তোমার মাথার কাছে আম্মা আর ফুফুদের কোরানের সুর
	মিশে যাচ্ছে শ্রাবণের তীব্র ধারাপাতে Ñ

কে এক উজ্জ্বল দূত বুঝি সেই রাতে
	তোমার শয্যার পাশে নামাবে বোরাক
	আমরা সবাই আছি তার প্রতীক্ষায়;
তোমার বিশীর্ণ হাত সেই দিনও উঠেছিলো আমার মাথায়
	আমার আন্তরিকতার হয়তো-বা উত্তাপ নিতে
	(আফসোস! আন্তরিকতা যদি
	তোমার হাতের কাছে সুরক্ষিত দ্রাক্ষা ফল হতো!)

যখন ফেরেস্তা তার আগুনে চাবুক

           ঘোরালো রাত্রির বুকে, আকাশে আকাশে
	কী ভীষণ আতর্নাদে আমার জনক
	দুই হাতে ঢেকেছিলো তার শূন্য বুক
(আহা! আমার বুকটা যদি
	মোল্লার হাতের ফাঁকে মুরগীর কচি বুক হতো!)

যখন দুপুর নামে নগরীতে, রোদময় নির্জন দুপুর
জানালার মাপে কাটা আমার আকাশে যেন
		 ভেসে যায় নীলভূক চিল,

	মনে হয়, কেন যেন বার বার মনে হয় শুধু
	পৃথিবীতে কোনদিন অস্তিত্বই ছিলো না তোমার;

এ কথাটি হয়তো-বা ঠিক (এবং যথার্থ-ই ঠিক)
	তুমি ছিলে বেঁচেছিলে ভালোবেসেছিলে
	এবং আমিও আছি বেঁচে আছি ভালোবেসে থাকি
তবু যেন বিশ্বাসী পাল্লায় তুলে
এই সব মূল্যবান কথাগুলি কিছুতেই মাপতে পারি না।

(হায়রে বিশ্বাস!
আমি যদি সেই দীঘল পুরুষ হতাম
আল্লার নবীর মতো গুণে গুণে নক্ষত্র পতন
হয়তো-বা ঠেকাতাম তোমার শরীর;

আল্লার নবীও নই, কি সাহসে তবু
তর্জনী উঁচিয়ে আমি সময়কে করছি শাসন?)
			</pre>
				</article>
			</li>

			<li class="publication_books">
				<header>
					<h3>নার্সিসাস </h3>
				</header>
				<article>
			<pre>
নিবিড় নীলাভ সন্ধ্যা অহরহ জ্বলে অবয়বে
গতায়ু রোদের মতো যেখানেই হাঁটি ধীর পায়,
আমাকে শিকারী ভেবে আলোকণা পালিয়ে বেড়ায়
সন্ত্রস্ত হরিণী যেন, খুঁজে ফেরে ছায়ার বিবর,
চৌদিকে পাতারা কাঁপে, পাখি ডাকে,
		অলিন্দে অরণ্য হয় দুঃখের শহর।

আজন্ম যে স্রোতস্বিনী সঙ্গী করে রেখেছো সুহাস
অনাদি-বিস্তৃত সেই ক্ষীণতোয়া,
	অনন্তর তার কাছে যাই, দেখি,
হাঁটু জল ভেঙে ভেঙে
সে নদী পেরিয়ে আসে ধ্র“ব একজন
সর্বাঙ্গ ছায়ায় ঢাকা, ঋজু দেহ, সম্পন্ন আদল।

যখন সে কাছে আসে, পরার্থ বন্ধুর মতো মুখোমুখি হয়
বিলাসী বিমুখ কেউ ঠাট্টা করে আমাকে ভীষণ;
ইচ্ছে হয় আলো জ্বালি, খুঁটে খুঁটে দেখি তার মুখ
বুকের পকেটে শুধু হাতড়িয়ে খুঁজি দেশলাই।
তখনি সে আলো জ্বালে,
		সেও যেন দেখবেই খুঁটিয়ে আমাকে

ম্যাচের শলার শব্দে পাখির চোখের মতো
		অন্ধকার রোমাঞ্চিত হয়;
সমুখে একান্ত নদী থেকে যায় আলোকিত সময়ের বাঁকে
সুস্থির জলের রূপে ভেসে ওঠে অকম্পিত মুখ
যেই মুখে অবিকল আমার আদল।
			</pre>
				</article>
			</li>

			<li class="publication_books">
				<header>
					<h3>রাজাধিরাজ </h3>
				</header>
				<article>
			<pre>
এক্ষণে যদি আমাকেই আমি ফালি ফালি কাটতাম
মগজ আমার দিতামই যদি গুলিয়ে ভীষণভাবে
রক্ত থেকেও যদি-বা নিতাম ছিনিয়ে লোহিত কণা
øায়ুতন্ত্রীও করতাম যদি ছিন্ন ভিন্ন আজ

দেখতাম তবে উদোম দুচোখে তোমাকে রাজাধিরাজ
আমার পিতার তুমিই হন্তা, মাতার হরণকারী
বন্ধুর মনে ঈর্ষা-অনল জ্বালালে সেওতো তুমি
সবাক ফোনের সব লাইনের তুমি তারকাটা চোর।

গুটিয়ে যাও গুটিয়ে গেলেই সুখ
রোদ-দুপুরে পুড়বে না আর বুক

বুকের তলে হৃদয় নামক আঁখি
টের পাবে না তীর-শিকারী পাখি

গুটিয়ে যাও গুটিয়ে গেলেই ভালো
গহন সুখে জ্বলবে জ্বলুক আলো
			</pre>
				</article>
			</li>

			<li class="publication_books">
				<header>
					<h3>শামুক </h3>
				</header>
				<article>
			<pre>
আমাদের যাত্রা শুরু পুণ্যতম তীর্থ সন্নিধানে।
পাটাতনে ঘ্রাণ নেই তাজা অনূঢ়ার

তবু ইস্টিমার
জলের চাতালে মেলে আবলুস কালো জঙ্ঘা তার
তরল রমণ রণে চলছে এগিয়ে।
		কম্পাসের কাঁটা যায় ঘুরে
যেমন দু’চোখ ঘোরে
রেলিঙের ধার ঘেঁষে পাশের কেবিনে।
ইস্টিমারে অঘটন সহজে ঘটে না
হাড়মাংস ইচ্ছে মতো চাখাও যাবে না,
	তবু এই হাতের আঁধারে
হরিৎ আকাক্সক্ষা নিয়ে ফিরে যাচ্ছি সেই তীর্থধামে।

প্রাচীন অশ্বত্থ নেই,
পোড়োবাড়ি, দেউটিও নেই,
		স্মৃতিসৌধ উন্নয়ন ট্রাস্টের ফাঁদে
প্রকৃতির বিরুদ্ধে শুধু অবিরাম চলছে লড়াই;
তবু সেই শটিবনে আর কারো ছায়া পড়ে কিনা
(শঙ্খমালা, শঙ্খমালা, তুমি অমলিনা!) Ñ
জলের রমণ-রণ দেখে দেখে
		জ্বলে যেতে যেতে
	পরিচিত মুখ দেখে
	কুয়াশায় মুখ ডেকে
আমার সম্মুখ থেকে তুমি কেন, তুমি কেন যাচ্ছো পালিয়ে?

			</pre>
				</article>
			</li>
		</ul>
	</div>
</div>