
<header style="text-align: center;padding-bottom: 25px;text-transform: uppercase;">
	<h2>Books</h2>
</header>
<div ng-repeat="mjh in publicationsbooks">
	<div class="col-sm-3">
		<div class="publication_books">
			<figcaption class="publication_images">
				<img ng-src="{{mjh.bookimg}}"/>
			</figcaption>
			<article>
				<h3>{{mjh.bheading}}</h3>
				<p>{{mjh.bdetails}}
				</p>
			</article>
			<div class="mjh_date">
				<span class="date">August 5, 2015</span>
				<span class="view"><a href="#">View Details</a></span>
			</div>
		</div>
	</div>
</div>