

<section class="common-style xtra_style">
	<div class="container">


		<div class="location">
			<ui-gmap-google-map
				center="map.center"
				zoom="map.zoom"
				dragging="map.dragging"
				draggable="true"
				control="map.control">
				<ui-gmap-markers models="map.dynamicMarkers" coords="'self'" icon="'icon'" click="'onClicked'" fit='true' events="markersEvents">
				</ui-gmap-markers>
			</ui-gmap-google-map>
		</div>

		<div class="col-sm-4">
			<div class="contact_address">
				<header>
					<h2>Contact Address</h2>
				</header>
				<address>
					117, Shantibag, Dhaka-1217, Bangladesh
					<br>
					Mobile: 01711545171, 01977545173
					<br>
					Email: poetnurulhuda@gmail.com
					<br>
					kobinurulhuda49@yahoo.com
				</address>
			</div>
		</div>
		<div class="col-sm-8">
			<form class="row">
				<div class="col-sm-6 field_section">
					<label>Your Name</label>
					<input type="text" placeholder="Type your name">
				</div>
				<div class="col-sm-6 field_section">
					<label>E-Mail</label>
					<input type="text" placeholder="Enter your email">
				</div>
				<div class="col-sm-12 field_section">
					<label>Subject</label>
					<input type="text" placeholder="Type your topic">
				</div>
				<div class="col-sm-12 field_section">
					<label>Your Message</label>
					<textarea placeholder="Type your messages"></textarea>
					<button class="send_btn">Submit</button>
				</div>
			</form>
		</div>
	</div>
</section>
