
*{
  margin: 0;
  padding: 0;
}
h1,h2,h3,h4,h5,h6,p,ul{
margin: 0;
}
ul li{
	list-style: none;
}
a:hover{
	text-decoration: none;
	transition: all 0.2s ease 0s;
	-moz-transition: all 0.2s ease 0s;
    outline: 0;
}

/*===============Common==============*/
/*----------Navbar-----------*/

.header .navbar.navbar-default{
	background-color: transparent;
	border: none;
	margin-top: 15px;
	margin-bottom: 15px;
	border-radius: 0;
	margin: 0;
}
.header .navbar-brand a{
	font-family: 'pacificoregular';
	font-size: 28px;
	text-decoration: none;
	color: black;
	    text-transform: capitalize;
}
.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus{
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
	text-transform: uppercase;
}
.navbar-default .navbar-nav > li > a{
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
	text-transform: uppercase;
}
.header_top{
	margin-bottom: 0px;
	background-color:white;
	box-shadow: 0px 2px 10px #CCCCCC;
}
.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus{
	background-color: rgb(3,180,253);
    color: white;
}
.navbar-default .navbar-nav > .active > a:before{
	position: absolute;
	content: "";
	border-left: 13px solid rgba(0, 0, 0, 0.02);
	border-right: 13px solid rgba(255, 0, 0, 0);
	border-bottom: 13px solid white;
	bottom: 0;
	left: 0;
	right: 0;
	width: 0;
	height: 0;
	margin: auto; 
}
.data_hover{
	transform: matrix(1, 0, 0, 1, 0, -20);
}
a:hover span{
	-webkit-transform: translateY(-100%);
	-moz-transform: translateY(-100%);
	transform: translateY(-100%);

}
.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus {
	background-color: rgb(3,180,253);
	color: white;
}
.navbar-default .navbar-nav > .open > a:before,
.navbar-default .navbar-nav > .open > a:hover:before,
.navbar-default .navbar-nav > .open > a:focus:before {
	position: absolute;
	content: "";
	border-left: 13px solid rgba(0, 0, 0, 0.02);
	border-right: 13px solid rgba(255, 0, 0, 0);
	border-bottom: 13px solid white;
	bottom: 0;
	left: 0;
	right: 0;
	width: 0;
	height: 0;
	margin: auto;
}
.navbar-nav > li {
	float: left;
	margin-left: 2px;
}
.dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus {
	text-decoration: none;
	background-color: rgb(3,180,253);
	color: white;
}
.navbar-nav > li > .dropdown-menu {
	margin-top: 0;
	border-top-right-radius: 0;
	border-top-left-radius: 0;
	border-radius: 0;
}
/*-------------Footer------------*/
.footer_content{
	padding-top: 60px;
	background-color: #ddd;
}
.footer{
	background: #191919;
	padding: 50px 0;
	margin: 0;
}
.recent_list li{
	margin-bottom: 8px;
	padding-bottom: 8px;
	border-bottom: 1px solid #393939;
}
.info-text {
    margin-bottom: 20px;
}
.list li {
    float: left;
    margin-right: 9px;
    margin-bottom: 9px;
}
.list li a {
    width: 40px;
    height: 40px;
    font-size: 17px;
    display: block;
    box-sizing: border-box;
    text-align: center;
    padding-top: 6px;
    background: #292929;
    color: #888888;
}
.list li a:hover{
	background-color: #efb54b;
}
.list li:hover i{
	animation: toTopFromBottom 0.3s forwards;
    -webkit-animation: toTopFromBottom 0.3s forwards;
    -moz-animation: toTopFromBottom 0.3s forwards;
}
.widget-title h4 {
    margin-bottom: 15px;
    color: #EEEEEE;
    border-bottom: 2px solid #BBBBBB;
}

.recent_list li a{
	color: #999999;
}
.recent_list li a:hover{
	    color: #CCCCCC;
}
.address_img{
	width:80px;
	height: 80px;
	margin-bottom: 15px;
}
.address_img img{
	border-radius: 5px;
	width:100%;
}
.c_footer span{
    color: #999999;
}
/*===============Home==============*/

.width_section{
	padding-top: 30px;
   // margin-bottom: 30px;
	//background: url(/home/janar/everexpert/ng-boilerplate/src/assets/images/home/Cover2.jpg);
	background-size: 100% 100%;
	//background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,0,0,0.30)), color-stop(100%,rgba(0,0,0,0)));
}
.quation{
	display: flex;
}
.poet{
	width:38%;
	float: left;
}
.poet img{
	//border-radius: 100%;
	width:100%;
}
.poet_quote{
	width:62%;
	float: left;
	color:#676565;
	text-align: center;
	border: none;
	padding: 60px 20px 10px;
	margin: 0;
	font-style: italic;
	/*font-family: 'Helvetica Neue';*/
	font-family: 'pacificoregular';
}
.poet_quote .fa.fa-quote-left{
	padding-right: 5px;
	font-style: inherit;
	color:#E89090;
	font-size: 25px;
}
.poet_quote .fa.fa-quote-right{
	padding-left: 5px;
	font-style: inherit;
	color:#E89090;
	font-size: 25px;
}
.poet_quote p{
	font-size: 18px;
}
.poet_quote p i{
	line-height: 40px;
}

.mjh_zero{
	padding-left:0;
	padding-right: 0; 
}
.mjh_photo{
	height: 264px;
	width:100%;	
}
.mjh_photo img{
	width: 100%;
	height: 100%;
}
.mjh_detail{
	position: relative;
	background-color: #3BB8CE;
	text-align: center;
	padding: 20px;
	height: 264px;
}
.mjh_zero.zero_second .mjh_detail{
	background-color: #48D4AA;	
}
.mjh_zero.zero_final .mjh_detail{
	background-color: #9BE48A;	
}
.mjh_detail article{
	padding: 10px 0px;
}
.mjh_detail .btn-group{
	background-color: transparent;
	border: 1px solid white;
	color: white;
	padding: 8px;
	text-transform: uppercase;
}
.mjh_detail:before{
	content: " ";
	border-top: 30px solid transparent;
	border-left: 30px solid #3BB8CE;
	border-bottom: 30px solid transparent;
	position: absolute;
	right: -25px;
	top: 0;
	bottom: 0;
	z-index: 10;
	margin: auto;
	height: 0;
	width: 0;
}
.mjh_zero.zero_second .mjh_detail:before{
	content: " ";
	border-top: 30px solid transparent;
	border-right: 30px solid transparent;
	border-left: 30px solid transparent;
	border-bottom: 30px solid #48D4AA;
	position: absolute;
	right:0px;
	top: -60px;
	z-index: 10;
	margin: auto;
	height: 0;
	width: 0;
	left: 0;
	bottom: initial;
}
.mjh_zero.zero_final .mjh_detail:before{
	content: " ";
	border-top: 30px solid transparent;
	border-right: 30px solid #9BE48A;
	border-left: 30px solid transparent;
	border-bottom: 30px solid transparent;
	position: absolute;
	right:initial;
	top: 0px;
	z-index: 10;
	margin: auto;
	height: 0;
	width: 0;
	left: -60px;
	bottom: 0;
}
.m_content{
	overflow: hidden;
	margin-bottom: 15px;
	//border: 1px solid #eeeeee;
	background: white;
}
.sample_img{
	background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
	margin-left: -49px;
	overflow: hidden;
	padding: 0;
	box-shadow: 0px -3px 6px black;
	margin-right: 15px;
	//transform: rotate(360deg) scale(1.003) skew(-14deg) translate(0px);
	transform: rotate(360deg) scale(1.0) skew(-11deg) translate(0px);
	transition: all .4s ease-in-out;
}
.sample_img img{
	width: 100%;
	display: block;
    left: 35px;
    width: 100%;
    height: auto;
    position: relative;
    transform: rotate(0deg) scale(1.003) skew(11deg) translate(0px);
    -webkit-transform: rotate(0deg) scale(1.003) skew(11deg) translate(0px);
}
.xtra_activities{
	display: inline-block;
	width: 100%;
	padding-left: 100px;
}
.poet_article{
    padding: 15px 15px;
}
.poet_article header h2{
	text-align: center;
	//font-family: 'Helvetica Neue';
	text-transform: uppercase;
	font-family: kaushan_scriptregular;
	//font-family: tangerineregular;
	// font-family: poiret_oneregular;
	//font-weight: bold;
	line-height: 47px;
	font-size: 40px;
}
.poet_article article{
	//padding: 15px 0px;
	//font-family: archivo_narrowregular;
	//color: #6F6D6D;
	//font-family: tangerineregular;
	//font-size: 37px;
	//line-height: 30px;

    padding: 15px 100px;
    font-family: dancing_scriptregular;
    //font-family: archivo_narrowregular;
    color: #6F6D6D;
    font-size: 22px;
    line-height: 40px;
    font-style: italic;


}




.eemjhpre{
	word-wrap: normal;
	border: none;
	border-radius: 0;
	background-color: transparent;
	font-family: dancing_scriptregular;
	color: #6F6D6D;
	font-size: 25px;
	line-height: 32px;
	font-style: italic;
	overflow: visible;
	margin: 0;
	white-space: pre-line;
}












.social_icon{
	float: right;
	padding: 10px 0px 5px;
}
.social_icon li{
	float: left;
}
.social_icon li a{
	text-decoration: none;
	color:black;
	padding: 0px 10px;
	line-height: 0;
	display: inline-block;    
}
.social_icon li:first-child a{
	padding-left: 0;
}
.social_icon li a i{
    font-size: 20px;
    color:#191919;
    padding-right: 8px;
    line-height: 0;	
}
.social_icon li a i:hover{
    color:rgb(3,180,253);		
}
a.read_more{
	float: left;
	color: white;
	padding: 10px;
	box-shadow: 3px 3px 3px black;
	font-weight: bold;
	font-family: archivo_narrowregular;
	background-color: rgb(3,180,253);
	-webkit-transform: rotate(0deg) scale(1.003) skew(-16deg) translate(0px);
}
a.read_more:hover{
	background-color: rgb(17, 153, 210);	
}


.home_style{
	background: #ddd;
	padding-top: 30px;
}
.xtra_style{
	padding-bottom: 60px;
}


.headerac{
	padding: 5px 0px 50px;
    text-align: center;
}
.headerac h2{
	font-size: 40px;
	text-transform: uppercase;
    border-bottom: 2px solid #B1AEAE;
	display: inline-block;
	//font-family: archivo_narrowregular;
	    font-family: 'HelveticaNeue';
    margin-bottom: 10px;
    padding-bottom: 10px;
}
.headerac h3{
	    font-size: 20px;
	        font-family: 'HelveticaNeue';
}
.activities_data{
	font-family: archivo_narrowregular;
	box-shadow: 2px 2px 4px -2px black;
	overflow: hidden;
	padding: 10px;
	background: white;
}
.activities_data figcaption{
	margin:-10px -10px 0px;
}
.activitiesimg img{
	width:100%;
}
.activities_details h3{
	text-align: center;
	padding: 15px 0px 10px;
	    font-family: kaushan_scriptregular;
}
.activities_details p{
	color: #777575;
	font-family: dancing_scriptregular;
	font-size: 16px;
}
.activities_data ul{
	overflow: hidden;
	padding-top: 15px;
	font-size: 15px;
}
.ac_date{
	float: left;
	color: #03B4FD;
}
.ac_view{
	float: right;
}
.ac_view a{
	color: #03B4FD;
	text-decoration: underline;	
}















/*.m_content.content_plus{
	background: #F3F3F3;
}
.sample_imgnext{
background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
	margin-right: -49px;
	overflow: hidden;
	padding: 0;
	    margin-left: 15px;
	transform: rotate(360deg) scale(1.003) skew(14deg) translate(0px);
	transition: all .4s ease-in-out;
}
.sample_imgnext img{
width: 100%;
	display: block;
    right: 35px;
    width: 100%;
    height: auto;
    position: relative;
    transform: rotate(0deg) scale(1.003) skew(-14deg) translate(0px);
    -webkit-transform: rotate(0deg) scale(1.003) skew(-14deg) translate(0px);
}
*/

/*====================About=================*/
.about_poetimg{
	width:30%;
	float: left;
	margin-right: 30px;
	margin-bottom: 15px;
	position: relative;
}
.about_poet{
	//width:70%;
	//float:left;
}
.about_poetimg img{
width:100%;
}
.about_poetimg figcaption{
	position: absolute;
    bottom: 0;
    color: #F3F0F0;
    text-align: center;
    width: 100%;
    font-size: 20px;
    background-color: rgba(0, 0, 0, 0.51);
    padding: 12px 0px;
}





.common-style{
	padding: 30px 0px 0px;
}
.common-style.xtra_style{
	padding: 30px 0px 60px;
}
.about_poet h2{
	padding-bottom: 20px;
	font-family: 'Helvetica Neue';
}
.about_poet p{
	    font-family: archivo_narrowregular;
}





.abtestimonial{
    overflow: hidden;
    box-shadow: 0px 0px 6px black;
    padding: 10px;
}
.testimonials figure{
	position: relative;
	width:15%;
	float: left;
}
.testimonials figure figcaption{
	position: absolute;
	bottom: 0;
	background-color: rgba(0, 0, 0, 0.48);
	color: white;
	width: 100%;
	text-align: center;
	height: 30%;
	padding: 8px 0px 0px;
	font-family: archivo_narrowregular;
}
.testimonials img{
	width:100%;
    margin: 0px 15px 0px 0px;
}
.testimonials blockquote{
	border: none;
    padding: 45px 0px 0px 0px;
	margin: 0;
	font-family: tangerineregular;
	font-size: 32px;
	line-height: 30px;
}
.testimonials .fa.fa-quote-left{
	color: #03B4FD;
	font-size: 25px;
	font-style: italic;
	padding-right: 5px;
}

.testimonials .fa.fa-quote-right{
	color: #03B4FD;
	font-size: 25px;
	font-style: italic;
	padding-left: 5px;
}
.carousel-indicators .active {
	margin: 0px 2px;
    width: 12px;
    height: 12px;
    background-color:rgb(3,180,253);
}
.carousel-indicators li {
	display: inline-block;
	width: 12px;
	height: 12px;
	margin: 0px 2px;
	text-indent: -999px;
	border: none;
	border-radius: 0px;
	cursor: pointer;
	background-color: black;
}
.abtestimonial .carousel-control.left,.abtestimonial .carousel-control.right{
	display: none;
}

/*==================Publication=================*/
.mjh_publication{
	overflow: hidden;
	padding-bottom: 40px;
}
.mjh_publication header{
	padding-bottom: 25px;
	text-align: center;
	font-family: 'Helvetica Neue';
}
.mjh_publication article{
	font-family: archivo_narrowregular;
}
.publication_books{
	box-shadow: 0px 0px 8px 0px black;
	padding: 10px;
	background-color: #FAFDFF;
	margin-bottom: 25px;
	min-height: 422px;
}
.publication_books h3{
	text-align: center;
	padding: 10px 0px;
	font-family: 'Helvetica Neue';
}
.publication_books p{
	font-family: archivo_narrowregular;
}
.publication_images img{
	width:100%;
	height: 200px;
}
.mjh_date{
	color: #CA2472;
	margin-top: 15px;
}
.view{
	float: right;
}
.view a{
	color: #03B4FD;	
}
.autoBooks img{
	width:100%;
}

#owl-demo .item{
  margin: 3px;
	width:157px;
	height: 231px;
}
#owl-demo .item img{
  display: block;
  width: 100%;
  height: auto;
}
/*==================Awards================*/
/*==================Gallery================*/
.gallery_photo{
	position: relative;
	margin-bottom: 30px;
}
.gallery_photo img{
	width:100%;
}
.gallery_photo:hover .gallery_detail{
display: block;
}
.gallery_detail{
	position: absolute;
	top: 0;
	font-family: archivo_narrowregular;
	background-color: rgba(0, 0, 0, 0.30);
	color:white;
	width: 100%;
	height: 100%;
	text-align: center;
	padding: 50px 10px;
	display: none;
}
.gallery_detail h4{
	padding-bottom: 10px;
	font-size: 24px;
	text-transform: uppercase;
}
.gallery_detail span{
	font-size: 17px;
}
.gallery_detail p{
	text-align: left;
	padding-bottom: 8px;
}


/*==================Contact=================*/
.location{
	padding-bottom: 30px;
}

.contact_address{
	    font-family: archivo_narrowregular;
}
.contact_address header{
	padding-bottom: 15px;
}
.contact_address address{
	line-height: 30px;
}
.field_section{
	margin-bottom: 15px;
}
.field_section input{
	outline: 0;
	width:100%;
	min-height: 48px;
	padding: 10px;
	color: white;
	border: 1px solid #F7EEEE;
	background-color: #635F5F;
}
.field_section textarea{
	outline: 0;
	padding: 10px;
	width:100%;
	color: white;
	min-height: 250px;
	border: 1px solid #F7EEEE;
	background-color: #635F5F;
}
.send_btn{
	margin-top: 15px;
	line-height: 0;
	padding: 20px 25px 16px 25px;
	float: right;
	background-color: rgb(3,180,253);
	color:white;
	border: none;
	outline: 0;
}
.send_btn:hover{
	background-color: rgb(5, 124, 173);
}



















/*==============ADMIN==================*/
.common-style.adminsection{
	padding: 30px 0px;
	background-color: whitesmoke;
}
.eemjhadmin{
	background-color: #64B7B3;
	padding: 15px;
	margin: 15px;
}
.eemjhadmin li{
	background-color: white;
	padding: 15px;
	font-size: 15px;
	border-bottom: 2px solid #64B7B3;
}
.eemjhadmin li:first-child{
	margin-top: -15px;
	margin-left: -15px;
	margin-right: -15px;
	border: none;
	background-color: #64B7B3;
	text-align: center;
	text-transform: uppercase;
	color: white;
}
.eemjhadmin li:last-child{
	border:none;
}
.eemjhadmin li a{
	font-size: 18px;
	text-transform: uppercase;
	text-decoration: none;
}
.eemjhadmin li a span{
	padding-right: 10px;
}










.eemjhview{
	background-color: white;
	padding: 15px;
	margin: -0px -15px;
}
.eemjhadminheader{
	padding: 15px 0px;
	margin-bottom: 15px;
	text-transform: uppercase;
	border-bottom: 1px solid #D8D8D8;
}

.grid {
	width: 100%;
	height: 100%;
}




/*.ui-grid-header-cell-wrapper {*/
	/*position: relative;*/
	/*display: block;*/
	/*box-sizing: border-box;*/
	/*height: 100%;*/
/*}*/

/*.ui-grid-header-cell {*/
	/*position: relative;*/
	/*box-sizing: border-box;*/
	/*background-color: inherit;*/
	/*border-right: 1px solid;*/
	/*border-color: #d4d4d4;*/
	/*display: block;*/
	/*-webkit-user-select: none;*/
	/*-moz-user-select: none;*/
	/*-ms-user-select: none;*/
	/*user-select: none;*/
	/*width: 0;*/
/*}*/
/*.ui-grid-header-cell-row {*/
	/*display: block;*/
	/*position: relative;*/
/*}*/
/*.ui-grid-header-cell.ui-grid-clearfix.ui-grid-coluiGrid-0004{*/
	/*min-width: 100%;*/
	/*max-width: 100%;*/
	/*width: 100%;*/
	/*display: block;*/
/*}*/


.eemjhpost{
	margin-bottom: 10px;
}
.eemjhpost h4{
	padding: 8px 0px;
	text-transform: uppercase;
}
.eemjhpost .form-control{
	border-radius: 0;
}


/*==============ADMIN-END==================*/









































@media (min-width: 768px){
/*==========Common-Header==========*/
.navbar-nav > li > a {
    padding-top: 20px;
    padding-bottom: 20px;
}
/*===========About-page============*/
.abtestimonial .carousel-indicators{
    left: 0;
    right: 0;
    margin: auto;

}
/*==========Publication-page=========*/
/*.nav-tabs.nav-justified{
	position: fixed;
	right: 0;
	width: initial;
	z-index: 9;
	background-color: #D6D2D2;
	opacity: .95;
	top: 45%;
	border: 1px solid #ABABAB;
}
.tab-content{
	width:90%;
}
.nav-tabs.nav-justified > li {
    display:block;
    width: initial;
}

.nav-tabs.nav-justified > li > a{
	border:none;
	border-radius:0;
	text-transform: uppercase;
	padding: 10px 10px;
	color: #03B4FD;
	border-bottom: 1px solid #ABABAB;
}
.nav-tabs.nav-justified > li:last-child a{
	border-bottom: none;	
}

.nav-tabs.nav-justified > .active > a, .nav-tabs.nav-justified > .active > a:hover, .nav-tabs.nav-justified > .active > a:focus{
	color:white;
	border:none;
	border-radius:0;
	    border-bottom: 1px solid white;
	background-color: rgb(3,180,253);
}
.nav > li > a:hover, .nav > li > a:focus{
	color: white;
	cursor: pointer;
	    border-bottom: 1px solid white;
	background-color: rgb(3,180,253);
}*/












}