
<header class="eemjhadminheader">
    <h3>Add New Poem Category<button ng-click="saveCategory()" type="button" class="btn btn-primary pull-right">
        Add
    </button></h3>
</header>
<div class="blog-add-new-post">
    <div class="eemjhpost">
        <h4>Category Title</h4>
        <input type="text" ng-model="category.title"  placeholder="Post Title" class="form-control">
    </div>

    <div class="eemjhpost">
        <h4>Category Description</h4>
        <textarea class="form-control" rows="3" ng-model="category.description"></textarea>
    </div>

</div>