
<header class="eemjhadminheader">
    <h3>Add New Post<button type="button" class="btn btn-primary pull-right">
        Add
    </button></h3>
</header>
<div class="blog-add-new-post">
    <div class="eemjhpost">
        <h4>Post Title</h4>
        <input type="text"  placeholder="Post Title" class="form-control">
    </div>

    <div class="eemjhpost">
        <h4>Post Category</h4>
        <select class="form-control">
        </select>
    </div>

    <div class="eemjhpost">
        <h4>Post Author</h4>
        <select class="form-control">
        </select>
    </div>

    <div class="eemjhpost">
        <h4>Post Description</h4>
        <textarea class="form-control" rows="3"></textarea>
    </div>
</div>