
<section class="common-style xtra_style">
	<div class="container">
		<ul class="row">
			<li ng-repeat="mjh in gallery">
				<div class="col-sm-4">
					<figure class="gallery_photo">
						<img ng-src="{{mjh.gimgsm}}" alt="" />						
						<figcaption class="gallery_detail">
							<h4>special contribution</h4>
							<p>sixty in number including his ‘Kabyasomogro’ (‘Collected Poems’ in Bengali) and ‘Selected Poems’ (in English Translation). His poems have been translated into many international languages including English</p>
							<a class="fancybox" rel="gallery1" href="{{mjh.gimgbg}}" title="Sgwd Ddwli Uchaf, Brecon Waterfalls (technodean2000)">
							<span>View Image</span>
							</a>
						</figcaption>
					</figure>
				</div>
			</li>
		</ul>
	</div>
</section>
