

<section class="common-style adminsection">
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-4">
                <ul class="eemjhadmin">
                    <li><h3>poem post</h3></li>
                    <li role="menuitem">
                        <a href ui-sref="admin.poems"><span><i class="fa fa-pencil-square-o"></i></span>Poems</a>
                    </li>
                    <li role="menuitem">
                        <a href ui-sref="admin.newpoem"><span><i class="fa fa-pencil-square-o"></i></span>New Poem</a>
                    </li>
                    <li role="menuitem">
                        <a href ui-sref="admin.categories"><span><i class="fa fa-tachometer"></i></span>categories</a>
                    </li>
                    <li role="menuitem">
                        <a href ui-sref="admin.newcategories"><span><i class="fa fa-tachometer"></i></span>new categories</a>
                    </li>
                </ul>
                <!--<ul class="eemjhadmin">-->
                    <!--<li><h3>News post</h3></li>-->
                    <!--<li role="menuitem">-->
                        <!--<a href ui-sref="admin.post"><span><i class="fa fa-pencil-square-o"></i></span>news</a>-->
                    <!--</li>-->
                    <!--<li role="menuitem">-->
                        <!--<a href ui-sref="admin.newpost"><span><i class="fa fa-pencil-square-o"></i></span>New news</a>-->
                    <!--</li>-->
                    <!--<li role="menuitem">-->
                        <!--<a href ui-sref="admin.postcategories"><span><i class="fa fa-tachometer"></i></span>news categories</a>-->
                    <!--</li>-->
                    <!--<li role="menuitem">-->
                        <!--<a href ui-sref="admin.newpostcategories"><span><i class="fa fa-tachometer"></i></span>new news categories</a>-->
                    <!--</li>-->
                <!--</ul>-->
            </div>
            <div class="col-sm-8">
                <div ui-view="adminview" class="eemjhview"></div>
            </div>
        </div>
    </div>
</section>

