<!DOCTYPE html>
<html ng-app="ngBoilerplate" ng-controller="AppCtrl">
  <head>
      <meta charset="utf-8" />
    <title ng-bind="pageTitle"></title>
    <!-- social media tags -->
    <meta name="twitter:card" content="summary">
    <meta name="twitter:site" content="@joshdmiller">
    <meta name="twitter:title" content="ngBoilerplate">
    <meta name="twitter:description" content="Non-Trivial AngularJS Made Easy: Everything you need to kickstart AngularJS projects: a best-practice directory structure, an intelligent build system, and the best web design libraries around.">
    <meta name="twitter:creator" content="@joshdmiller">
    <meta name="twitter:image:src" content="https://a248.e.akamai.net/assets.github.com/images/modules/logos_page/Octocat.png?1366128846">
    <meta property="og:title" content="ngBoilerplate" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="http://bit.ly/ngBoilerplate" />
    <meta property="og:image" content="https://a248.e.akamai.net/assets.github.com/images/modules/logos_page/Octocat.png?1366128846" />
    <meta property="og:description" content="Non-Trivial AngularJS Made Easy: Everything you need to kickstart AngularJS projects: a best-practice directory structure, an intelligent build system, and the best web design libraries around.">

    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- font awesome from BootstrapCDN -->
    <link href="http://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">

    <!-- compiled CSS --><% styles.forEach( function ( file ) { %>
    <link rel="stylesheet" type="text/css" href="<%= file %>" /><% }); %>
    <link rel="stylesheet" type="text/css" href="assets/fonts/font-awesome/css/font-awesome.css"/>
    <link rel="stylesheet" type="text/css" href="assets/fonts/pacifico/stylesheet.css"/>
    <link rel="stylesheet" type="text/css" href="assets/fonts/HelveticaNeue/stylesheet.css"/>
    <link rel="stylesheet" type="text/css" href="assets/fonts/Helvetica/stylesheet.css"/>
    <link rel="stylesheet" type="text/css" href="assets/fonts/archivonarrow/stylesheet.css"/>
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/owl-carousel/1.3.3/owl.carousel.min.css"/>
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/owl-carousel/1.3.3/owl.carousel.min.css"/>

    <link rel="stylesheet" type="text/css" href="assets/fonts/tangerine/stylesheet.css">
    <link rel="stylesheet" type="text/css" href="assets/fonts/dancingscript/stylesheet.css">
    <link rel="stylesheet" type="text/css" href="assets/fonts/kaushanscript/stylesheet.css">
    <link rel="stylesheet" type="text/css" href="thirdparty/fancybox/source/jquery.fancybox.css">

    <link rel="stylesheet" type="text/css" href="thirdparty/googlemap/example.css">

    <link rel="stylesheet" type="text/css" href="thirdparty/WOW-master/css/animate.css"/>
    <link rel="stylesheet" type="text/css" href="thirdparty/Hover-master/css/hover.css"/>

    <link rel="stylesheet" type="text/css" href="assets/css/style.css"/>

   <!--<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/angular-translate/2.8.1/angular-translate.min.js"></script>-->

    <!-- compiled JavaScript --><% scripts.forEach( function ( file ) { %>
    <script type="text/javascript" src="<%= file %>"></script><% }); %>
    <!-- it's stupid to have to load it here, but this is for the +1 button -->
    <script type="text/javascript" src="https://apis.google.com/js/plusone.js">
    { "parsetags": "explicit" }
    </script>

    <script src="thirdparty/animate/angular-animate.js"></script>

    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.3/angular-touch.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.3/angular-animate.js"></script>
    <script src="http://ui-grid.info/docs/grunt-scripts/csv.js"></script>
    <script src="http://ui-grid.info/docs/grunt-scripts/pdfmake.js"></script>
    <script src="http://ui-grid.info/docs/grunt-scripts/vfs_fonts.js"></script>
    <!------------------google-map------------>
    <script src="thirdparty/googlemap/lodash.js"></script>
    <script src='http://maps.googleapis.com/maps/api/js'></script>
    <script src="thirdparty/googlemap/angular-google-maps.js"></script>
    <script src="thirdparty/googlemap/issue-74-markers-events.js"></script>

    <script src="thirdparty/WOW-master/dist/wow.min.js"></script>
    <script src="thirdparty/fancybox/source/jquery.fancybox.pack.js"></script>
    <script src="thirdparty/fancybox/source/jquery.fancybox.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/owl-carousel/1.3.3/owl.carousel.min.js"></script>

  </head>
  <body>

        <!------- Header---- -->
        <div ng-include src="'include/menu.tpl.html'"></div>
        <div ng-include src="'include/adminmenu.tpl.html'"></div>
        <!-------Main-Ui-View---->
        <div ui-view="main"></div>
        <!-------Main-Ui-View---->
        <!------- Footer---- -->
        <div ng-include src="'include/footer.tpl.html'"></div>

        <!------Script------>
        <script type="text/javascript">
           new WOW().init();
        </script>

        <script type="text/javascript">

        $(document).ready(function() {
          $(".fancybox").fancybox({
            openEffect  : 'none',
            closeEffect : 'none'
          });
        });
        </script>
  </body>
</html>
