 <section class="width_section">
	 <div class=""> 
		<div class="quation">
			<figcaption class="poet">
				<img ng-src="assets/images/home/poet-re.png"/>
			</figcaption>			
			<div class="poet_quote">
				<p>
				<i class="fa fa-quote-left"></i>
Mohammad Nurul Huda is an iconic poet of today’s Bangladesh, widely acclaimed as ‘Jatisottar
Kobi’ or the Poet of National Identity for his extraordinary verses visualizing the historic evolution of the people and the nation-state called Bangladesh.
A versatile writer, he is also recognized as a leading essayist, literary critic, translator,
academician, traditional healer, folklorist and IPR-specialist for copyright and traditional cultural expressions.  A recipient of the Ekushey Padak (2015), rated as the country’s highest civilian honour for creative and aesthetic contribution,  he has been decorated with numerous awards from home and abroad including Alaol Prize (1983), Bangla Academy Sahitya
Prize (1988),  Poet of International Merit (ISP, USA, 2015), Turkish President Award (1996),
Nazrul Prize (1999, Kolkata), Rupashi Bangla Jibanananda Prize (2010, Kolakata), Karuvash Binoy Majumder Kabita Prize (2011, Kolkata) Tripura State Award (2012, India), Nazrul University Prize (2014) etc. He is a widely travelled man representing Bangladesh at international forums of writers and learned personalities.
Mohammad Nurul Huda was born on September 30, 1949 (Pokkhali, Cox’s Bazaar, Bangladesh), to
the wedlock of late Mohammad Sekander and Anjuman Ara Begum.
				<i class="fa fa-quote-right"></i></p>
			</div>			
		</div>
	</div> 
</section> 
<section class="home_style">
	<div class="container">
		<header class="headerac">
			<h2>recent activities</h2>
		</header>
		<ul class="row">
			<li ng-repeat="mjh in activities">
				<div class="col-sm-4">
					<div class="activities_data">
						<figcaption class="activitiesimg">
							<img ng-src="{{mjh.acimg}}"/>
						</figcaption>
						<div class="activities_details">
							<h3>{{mjh.acheader}}</h3>
							<p>{{mjh.acdarticle}}</p>
							<ul>
								<li class="ac_date"><span>{{mjh.mjhdate}}</span></li>
								<li class="ac_view"><a href="">Read More</a></li>
							</ul>
						</div>
					</div>
				</div>
			</li>
		</ul>
	</div>
</section>
<section class="home_style xtra_style">
	<div class="container">
	<header class="headerac">
			<h2>recent Poems</h2>
		</header>
		<ul class="row">
			<li>
				<div class="m_content wow slideInLeft">
					<div class="col-sm-5">
						<figcaption class="sample_img">
							<img ng-src="assets/images/home/Photo-0068.jpg">
						</figcaption>
					</div>
					<div class="col-sm-7">
						<div class="poet_article">
							<header>
								<h2>Fertility</h2>
							</header>
							<article>
									<pre class="eemjhpre">
The beach gets warm
even under the cool sun.
At this hour
in the inner chambers of the blue sea
there goes on exotic cooking
									</pre>
							</article>
							<div class="xtra_activities">
								<a href="#" class="read_more">Read More</a>
								<ul class="social_icon">
									<li><a href=""><i class="fa fa-eye hvr-bounce-in"></i><span>56</span></a></li>
									<li><a href=""><i class="fa fa-comments hvr-bounce-in"></i><span>24</span></a></li>
									<li><a href=""><i class="fa fa-thumbs-up hvr-bounce-in"></i><span>22</span></a></li>
									<li><a href=""><i class="fa fa-share hvr-bounce-in"></i><span>15</span></a></li>
								</ul>								
							</div>
						</div>
					</div>
				</div>			
			</li>
			<li>
				<div class="m_content wow slideInLeft">
					<div class="col-sm-5">
						<figcaption class="sample_img">
							<img ng-src="assets/images/home/Photo-0068.jpg">
						</figcaption>
					</div>
					<div class="col-sm-7">
						<div class="poet_article">
							<header>
								<h2>ফসটাস এখন নরকে</h2>
							</header>
							<article>
									<pre class="eemjhpre">
		ফসটাস এখন নরকে।
পুণ্যলোভী জ্ঞানাত্মারা, আপনারা সকলেই শ্রবণ করুন

দশম গ্রহের আগে এ বার্তাই আবিষ্কৃত হলো
			ফসটাস এখন নরকে।
									</pre>
							</article>
							<div class="xtra_activities">
								<a href="#" class="read_more">Read More</a>
								<ul class="social_icon">
									<li><a href=""><i class="fa fa-eye hvr-bounce-in"></i><span>56</span></a></li>
									<li><a href=""><i class="fa fa-comments hvr-bounce-in"></i><span>24</span></a></li>
									<li><a href=""><i class="fa fa-thumbs-up hvr-bounce-in"></i><span>22</span></a></li>
									<li><a href=""><i class="fa fa-share hvr-bounce-in"></i><span>15</span></a></li>
								</ul>
							</div>
						</div>
					</div>
				</div>
			</li>
			<li>
				<div class="m_content wow slideInLeft">
					<div class="col-sm-5">
						<figcaption class="sample_img">
							<img ng-src="assets/images/home/Photo-0068.jpg">
						</figcaption>
					</div>
					<div class="col-sm-7">
						<div class="poet_article">
							<header>
								<h2>Mother Tongue</h2>
							</header>
							<article>
									<pre class="eemjhpre">
Men are not rivers, yet in their hearts
Burns the raging thirst of rivers.

The youthful blood that was spilled in Fifty-two
With its tidal thirst suddenly becomes
									</pre>
							</article>
							<div class="xtra_activities">
								<a href="#" class="read_more">Read More</a>
								<ul class="social_icon">
									<li><a href=""><i class="fa fa-eye hvr-bounce-in"></i><span>56</span></a></li>
									<li><a href=""><i class="fa fa-comments hvr-bounce-in"></i><span>24</span></a></li>
									<li><a href=""><i class="fa fa-thumbs-up hvr-bounce-in"></i><span>22</span></a></li>
									<li><a href=""><i class="fa fa-share hvr-bounce-in"></i><span>15</span></a></li>
								</ul>
							</div>
						</div>
					</div>
				</div>
			</li>
			<li>
				<div class="m_content wow slideInLeft">
					<div class="col-sm-5">
						<figcaption class="sample_img">
							<img ng-src="assets/images/home/Photo-0068.jpg">
						</figcaption>
					</div>
					<div class="col-sm-7">
						<div class="poet_article">
							<header>
								<h2>দ্বৈতায়ন</h2>
							</header>
							<article>
									<pre class="eemjhpre">
মঞ্চের সন্ধানে ঘুরে ঘুরে বিলাসী যুবক

কখন নিজেই যেন সুরম্য মঞ্চ হয়ে গেলো।

ঘুঙুরের পায়ে পায়ে
									</pre>
							</article>
							<div class="xtra_activities">
								<a href="#" class="read_more">Read More</a>
								<ul class="social_icon">
									<li><a href=""><i class="fa fa-eye hvr-bounce-in"></i><span>56</span></a></li>
									<li><a href=""><i class="fa fa-comments hvr-bounce-in"></i><span>24</span></a></li>
									<li><a href=""><i class="fa fa-thumbs-up hvr-bounce-in"></i><span>22</span></a></li>
									<li><a href=""><i class="fa fa-share hvr-bounce-in"></i><span>15</span></a></li>
								</ul>
							</div>
						</div>
					</div>
				</div>
			</li>
		</ul>
	</div>
</section>
