<section class="common-style">
	<div class="container">
	    <div id="owl-demo">
		  <div class="item"><img src="assets/images/publication/Allimages/1.jpg" alt="Owl Image"></div>
		  <div class="item"><img src="assets/images/publication/Allimages/2.jpg" alt="Owl Image"></div>
		  <div class="item"><img src="assets/images/publication/Allimages/3.jpg" alt="Owl Image"></div>
		  <div class="item"><img src="assets/images/publication/Allimages/4.jpg" alt="Owl Image"></div>
		  <div class="item"><img src="assets/images/publication/Allimages/5.jpg" alt="Owl Image"></div>
		  <div class="item"><img src="assets/images/publication/Allimages/6.jpg" alt="Owl Image"></div>
		  <div class="item"><img src="assets/images/publication/Allimages/7.jpg" alt="Owl Image"></div>
		  <div class="item"><img src="assets/images/publication/Allimages/9.jpg" alt="Owl Image"></div>
		  <div class="item"><img src="assets/images/publication/Allimages/10.jpg" alt="Owl Image"></div>
		  <div class="item"><img src="assets/images/publication/Allimages/11.jpg" alt="Owl Image"></div>
		  <div class="item"><img src="assets/images/publication/Allimages/12.jpg" alt="Owl Image"></div>
		  <div class="item"><img src="assets/images/publication/Allimages/13.jpg" alt="Owl Image"></div>
		  <div class="item"><img src="assets/images/publication/Allimages/14.jpg" alt="Owl Image"></div>
		  <div class="item"><img src="assets/images/publication/Allimages/15.jpg" alt="Owl Image"></div>
		  <div class="item"><img src="assets/images/publication/Allimages/16.jpg" alt="Owl Image"></div>
		  <div class="item"><img src="assets/images/publication/Allimages/17.jpg" alt="Owl Image"></div>
		  <div class="item"><img src="assets/images/publication/Allimages/18.jpg" alt="Owl Image"></div>
		  <div class="item"><img src="assets/images/publication/Allimages/19.jpg" alt="Owl Image"></div>
		  <div class="item"><img src="assets/images/publication/Allimages/20.jpg" alt="Owl Image"></div>
		</div>
	</div>
</section>
<section class="common-style xtra_style">
	<div class="container">
		<!--<div class="mjh_publication">-->
			<!--<header>-->
				<!--<h2>Lorem Ipsum Lorem Ipsum</h2>-->
			<!--</header>-->
			<!--<article>-->
					<!--<p>A noted critic, translator, IP Specialist, folklorist, novelist and literary organizer, Mr Huda retired from his job in Bangla Academy as its director in 2006. He also worked as Executive director of Nazrul Institute (1995-2001) set up for Kazi Nazrul Islam, the national poet of Bangladesh. He is now editor, artsbdnews24.com, the first on-line magazine of Bangladesh with largest circulation as of today. He also writes columns and teaches English in some private university in the capacity of a professor. Poet Huda is the founder chairman of KabitaBangla, a worldwide aesthetic movement of poetry with the slogan ‘poetry for human beauty.</p>-->
			<!--</article>-->
		<!--</div>-->
	 	<div class="row">
	 		<div class="col-sm-12">
		    	<div class="row">

		    		<div ui-view="publication">

						<div ng-repeat="mjh in publicationsbooks">
							<div class="col-sm-3">
								<div class="publication_books">
									<figcaption class="publication_images">
										<img ng-src="{{mjh.bookimg}}"/>
									</figcaption>
									<article>
										<h3>{{mjh.bheading}}</h3>
										<p>{{mjh.bdetails}}
										</p>
									</article>
									<div class="mjh_date">
										<span class="date">August 5, 2015</span>
										<span class="view"><a href="#">View Details</a></span>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>		
			</div>
		</div>
	</div>
</section>
